{% if page.url == "/" or page.url == "/404.html" %}
{% assign is_home = true %}
{% else %}
{% assign is_home = false %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" class="dark-gray">

<head>
  <title>🐎⚡🐘 | Democrats v. Republicans</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/static/app.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.svg" | relative_url }}" type="image/x-icon">

</head>

<body>
  <main class="center pt4 pb4">

    <h1 class="mt3 mb3">
        <a href="{{ relative_url }}" class="no-underline">
          {{site.title}}
        </a>
    </h1>

    <aside>
      <ul>
        <li class="first quote">
          <blockquote>
            No justification whatsoever for this illegal and unconstitutional act of war that president trump took.
            <br>
          </blockquote>
          <cite>Tusli Gabbard</cite>
        </li>

        <li class="quote">
          <blockquote>
            Never in our country's history have we had a president so coddled and pampered and protected by the media like Barack Obama.
          </blockquote>
          <cite>Joe Walsh</cite>
        </li>

        <li class="quote">
          <blockquote>
            Just to be clear, this precedent that you are prepared to set, you would be okay with a president, say, Elizabeth Warren, asking a foreign government to investigate her top republican rival, as long as there's some -- was some sort of allegation about that republican rival having some sort of connection to allegations of corruption?
            <br>
          </blockquote>
          <cite>Rand Paul</cite>
        </li>

        <li class="quote">
          <blockquote>
            But if you're the wealthiest 1 percent, republicans will give you the sun, the moon, and the stars -- all of that at the expense of the great middle class.
          </blockquote>
          <cite>Nancy Pelosi</cite>
        </li>

        <li class="quote">
          <blockquote>
            No justification whatsoever for this illegal and unconstitutional act of war that president trump took.
          </blockquote>
          <cite>Tusli Gabbard</cite>
        </li>

        <li class="quote">
          <blockquote>
            Donald Trump once again is a racist who makes ever more outrageous racist remarks. It is insulting, both to the congressman and to the people he represents.
          </blockquote>
          <cite>Elizabeth Warren</cite>
        </li>

        <li class="quote">
          <blockquote>
            As republicans continue to support important pro-life policies, democrats are bowing to the most radical elements of their party & refusing to protect babies still in their mother's womb.
          </blockquote>
          <cite>Patrick Kennedy</cite>
        </li>

        <li class="last quote">
          <blockquote>
            I think, if you look at president Trump, he has divided the country worst than it's ever been divided in its history -- or at least certainly for -- in the last 100 years. [...]
          </blockquote>
          <cite>John Hickenlooper</cite>
        </li>
      </ul>
    </aside>

    <section class="pv2">
      {{ content }}
    </section>

    <footer>
      <p>
        EPFL's 2021 <a href="https://dlab.epfl.ch/teaching/fall2021/cs401/">ADA</a> project · <a href="https://github.com/AndreasLP/APA-DataStory">Website repository</a> · <a href="https://github.com/epfl-ada/ada-2021-project-apa">Project repository</a> 
      </p>
      <p>
        Made by <a href="https://github.com/bilodidd">Daryna Bilodid</a>, <a href="https://github.com/ReneDCDSL">René de Champs</a>, <a href="https://github.com/ogrnz">Olivier Grognuz</a>, <a href="https://github.com/AndreasLP">Andreas Plesner</a>
      </p> 
      <p>
        Website created with <a href="https://jekyllrb.com/">Jekyll</a> and theme <a href="https://github.com/chibicode/duo">duo</a>
      </p> 
    </footer>

    <nav>
      <div class="container">
          <ul>
              <li class="evolution-of-the-political-cleavage-in-the-usa active"><a href="#evolution-of-the-political-cleavage-in-the-usa">Intro</a></li>
              <li class="overall-look"><a href="#overall-look">Overall look</a></li>
              <li class="most-common-words-used"><a href="#most-common-words-used">Common words</a></li>
              <li class="who-speaks-about-what"><a href="#who-speaks-about-what">Topics</a></li>
              <li class="any-trend"><a href="#any-trend">Trends</a></li>
              <li class="who-is-the-most-aggressive"><a href="#who-is-the-most-aggressive">Aggressiveness</a></li>
              <li class="impact-of-key-events"><a href="#impact-of-key-events">Key events</a></li>
              <li class="conclusion"><a href="#conclusion">Conclusion</a></li>
          </ul>
      </div>
    </nav>
  </main>

  <script>
    // Navbar
    const h2s = document.querySelectorAll("h2");
    const navLi = document.querySelectorAll("nav .container ul li");
    const html = document.querySelector("html");
    const nav = document.querySelector("nav");
    const quotes = document.querySelectorAll("aside li.quote");
    const sectionHeight = document.querySelector("section").scrollHeight;

    // Set random quotes margin
    const marginTop = sectionHeight / quotes.length
    quotes.forEach((quote) => {
      if (!quote.classList.contains("first")) {
        quoteHeight = quote.clientHeight;
        quote.style.margin = marginTop + "px 0 0 0";
      }
    })


    window.onscroll = () => {

      var current = ""; 

      h2s.forEach((h2) => {
        const h2Top = h2.offsetTop;
        if (pageYOffset >= h2Top - 150) {
          current = h2.getAttribute("id"); 
        }
      });

      // Hardcode edge cases
      if (html.scrollTop == 0) {
        current = "evolution-of-the-political-cleavage-in-the-usa";
      } 
      else if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
        current = "conclusion";
    }

      navLi.forEach((li) => {
        li.classList.remove("active");
        if (li.classList.contains(current)) {
          li.classList.add("active");
        }
      });
    };
  </script>  
</body>
</html>